.canvasWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  float: left;
  height: 0;
  line-height: 7rem;
}

.button {
  width: 100%;
}

.scannerBox {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 3rem;
  font-size: 2rem;
  height: 100vh;
}

.qrOutputBox {
  line-height: 7rem;
}

.headshot {
  max-width: 20rem;
  padding: 0.5rem;
  transition: all 1s ease-out;
}

.lineup {
  list-style-type: none;
  display: inline-flex;
}

.pair {
  border: 1px grey solid;
  margin: 2rem;
  height: 20rem;
}

.pair:last-child {
  margin-right: 0;
}
